<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>To Do - Vue</title>
</head>
<body>

<div id="app">
    <p>Tasks: {{ count }}</p>
    <input v-model="task">
    <button @click="addItem">Add Item</button>

    <button @click="clearAll">Clear All</button>

    <ul>
        <todo-item
            v-for="(item, index) in todos"
            v-bind:todo="item"
            v-bind:key="item.id"
            v-on:delete-item="deleteItem(index)"
        ></todo-item>
    </ul>

</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="main.js"></script>

</body>
</html>